<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>

</head>
<body>
  Test cases list
  <p></p>
  <textarea rows="4" cols="50" placeholder="steps" name="steps" class="xxx"><%=test.steps%></textarea>
  <p></p>
  <input type="text" placeholder="description" name="description" value="<%=test.description%>" >
  <input type="text" placeholder="expectedres" name="expectedres" value="<%=test.expectedres%>" >
  <input type="text" placeholder="type" name="type" value="<%=test.type%>">

</body>
</html>
