<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test case app</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">

</head>
<body>
<h2>List of test cases</h2>
<form  action="/" method="post">
  <input type="text" placeholder="user_name" name="user_name">
  <input type="text" placeholder="password" name="password">
  <button type="submit" formaction="/">Login</button>
</form>



</body>
</html>
